*{
    margin: 0;
    padding: 0;
   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: rgba(0, 0, 0, 0.877);
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    color:rgb(226, 226, 226);
    text-decoration: none;
}

nav ul li a:hover{
    text-transform: uppercase;
    color: rgb(255, 183, 0);
}

.logo img{
    width: 70px;
    height: 50px;
}

.burger div{

    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: cyan;
}

.burger{
    display: none;
}

@media screen and (max-width:720px) {
    nav ul{
        position: absolute;
        right: 0px;
        top: 9vh;
        background-color: rgb(0, 0, 0);
        height: 91vh ;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        transform: translateX(100%);
        transition: 2s;


    }

    body{
        overflow-x: hidden;
    }


    .burger{
        display: block;
        cursor: pointer;
    }

}

.navclick{
    transform: translateX(0%);
}
